# core runtime:
GetDist
IPython
autograd
joblib
matplotlib
mpi4py
numba>=0.53.0
numpy
psutil
pymanopt==0.2.5
scipy
torch>=2.3
tqdm

# documentation:
sphinx
sphinxcontrib-jquery
sphinx-rtd-theme

# testing/coverage:
coverage
pytest
pytest-cov

# cli helpers:
build
twine

# example notebooks (optional):
camb
cobaya
nbconvert
seaborn
